.stopwatch-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: auto;
}

.stopwatch-lap-list {
  display: flex;
  flex-direction: column-reverse;
}

.stopwatch-button {
  margin-top: 2rem;
}