.App {
  background-color: #282c34;
  color: #FFFFFF;
  height: 100vh;
  text-align: center;
}

.App-header {
  align-items: center;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
}

.body-timer {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: auto;
}

.button-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  width: 20rem;
}

.button-wrapper button {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
}

.greenButton {
  background-color: rgb(0, 93, 0);
  color: rgb(0, 180, 0);
}

.greyButton {
  background-color: grey;
  color: white;
}

.lap-list {
  display: flex;
  flex-direction: column-reverse;
}

.redButton {
  background-color: rgb(84, 0, 0);
  color: red;
}

.time-wrapper {
  margin-bottom: 2rem;
}