.App {
  background-color: #282c34;
  color: #FFFFFF;
  height: 100vh;
  text-align: center;
}

.App-header {
  align-items: center;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
}

.App-options {
  height: 3rem;
  margin-top: 1rem;
}

.App-options button {
  height: 2rem;
  width: 8rem;
}

.active-button {
  background-color: rgb(0, 93, 0);
  color: rgb(0, 180, 0);
}

.button-left {
  border-radius: 2rem 0 0 2rem;
}

.button-right {
  border-radius: 0 2rem 2rem 0;
}

.timer-container {
  margin-top: 5rem;
}